<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>

<body background="{{ url_for('static',filename = 'images/background.jpg') }}">
    <h1 class="title is-1 has-text-centered has-text-white"> Welcome To </h1>
    <h1 class="title is-1 has-text-centered has-text-white"> Secure Encryption And Decryption Using
        Crypto And Stego </h1>
    <div style="padding-left: 10%; padding-top: 5%">
        <div class="tile is-ancestor">
            <div class="tile is-6">
                <a href="Encryption"><img src="{{ url_for('static',filename = 'images/encryptlogo.jpeg')}}"></a>
            </div>
            <div class="tile is-6">
                <a href="Decryption"><img src="{{ url_for('static',filename = 'images/decryptlogo.jpg')}}"></a>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-6">
                <p class="title is-3 has-text-white">Sender Side</p>
            </div>
            <div class="tile is-6">
                <p class="title is-3 has-text-white">Receiver Side</p>
            </div>
        </div>
    </div>
</body>

</html>